/* computer icon */
.content .header h1 i{
    color: rgb(70, 96, 175);
}

/* frame of bmi calculator */
.input-container{
    margin-top: 7px;
    width: 30rem;
    height: 25rem;
    background-color: rgba(0, 111, 6, 0.835);
    border: 1px solid rgb(5, 60, 11);
}